---
import { client } from "../../lib/microcms";

// microCMSから記事を取得
const response = await client.get({
  endpoint: "blog",
}).catch(() => ({ contents: [] }));

const posts = response.contents;
---

<html lang="ja">
  <body>
    <h1>ブログ一覧</h1>
    <ul>
      {posts.map((post: any) => (
        <li>
          <a href={`/blog/${post.id}`}>{post.title}</a>
        </li>
      ))}
    </ul>
  </body>
</html>